.differences {
    clear:left;
    font-size: 1rem;
    padding: 0.3rem 0 0.1rem 1rem;
}

.diff-wrapper .old {
    display: none;
}

.diff-wrapper .new {
    display: block !important;
}

#case-references div.content_form_content {
    width: 600px;
}

#case-references div.content_form_content textarea{
    width: 95% !important;
}
